<%- include('../main/layout-start.ejs', {title: title}) %>

<h1>
    <%= title %>
</h1>

<div class="row">
    <div class="col-sm-6">

        <%- include('form') %>

    </div>
</div>


<%- include('../main/layout-end.ejs') %>
